{{> head}}

{{> navbar}}

<div class="row">

    <div class="col-8">
        <h1>Rawr uwu</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab, aspernatur deserunt ipsam maxime quibusdam veritatis! Voluptate ipsam dicta accusamus excepturi placeat nihil sequi animi qui, aliquam corrupti nesciunt perferendis! Iusto.</p>
    </div>


    <div class="col-4">
        <img src="assets/img/druid-icon.png" class="img-thumbnail">
    </div>
</div>



{{> footer}}