
{{> head}}


    {{> navbar  }}

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">sdadsdadas Hola</h1>
            <p class="lead"> {{Capitalizar 'Testeando, voy con lock o mago? o el shammy ele? o quizas shadow :o o un hunter ... :thinkingemoji:
             o sigo con el {{clase}}??? '}}</p>
        </div>
    </div>

{{> footer}}